{% extends 'check/base.html' %}
{% block body %}
<div class="wrapper"
<font color="#ffffff">
       
                <h1>Accounts</h1>

        <table class="Form-table">
            <tr>
                <th>Account Name</th>
                <th>Account Number</th>
            </tr>
        {% for account in all_accounts %}
            <tr>
                <td><a href="{% url 'check:detail' account.id %}"><font color="#ffffff">{{ account.account_name }}</a></td>
                <td>{{ account.account_number }}</td>
            </tr>
        {% endfor %}
        </table>
    </font>
</div>
{% endblock %}