{% extends 'check/base.html' %}
{% block title %}Check Details{% endblock %}
{% block body %}
<font color="#ffffff">
<h1>Check Details <a href="{% url 'check:check-update' check.id %}"><font color="#ffffff">-edit-</font></a>
    <form action="{% url 'check:check-delete' check.id %}" method="post" style="display: inline;">
    {% csrf_token %}
    <input type="hidden" name="check_id" value="{{ check.id }}"/>
    <button type="submit" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
    </form>
</h1>
<h2>{{ check.account }}</h2>
<h2>Check Number: {{ check.check_number}}</h2>
<h2>Check Amount: {{ check.check_amount}}</h2>
</font>
{% endblock %}
