{% extends 'check/base.html' %}
{% block body %}
<div class="wrapper">
<font color="#ffffff">
            <h1>Checks</h1>

        <table class="Form-table">
            <tr>
                <th>Check Account</th>
                <th>Check Number</th>
            </tr>
        {% for check in all_checks %}
            <tr>
                <td><a href="{% url 'check:checkdetail' check.id %}"><font color="#ffffff">{{ check.account }}</a></td>
                <td>{{ check.check_number }}</td>
            </tr>
        {% endfor %}
        </table>
    </font>
</div>
{% endblock %}