{% extends 'check/base.html' %}
{% block body %}
        <h1>                            
                <ul>
                <a href="{% url 'check:accountindex' %}">
                        <font color="#ffffff"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp; Accounts</font>
                </a><br>
                <a href="{% url 'check:checkindex' %}">
                        <font color="#ffffff"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp; Checks</font>
                </a><br>
                <a href="{% url 'check:bankindex' %}">
                        <font color="#ffffff"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>&nbsp; Banks</font>
                </a><br>
                <a href="{% url 'check:reportindex' %}">
                        <font color="#ffffff"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp; Reports</font>
                </a><br>
                </ul>
        </h1>
       
{% endblock %}
