{% extends 'check/base.html' %}
{% block body %}
<div class="wrapper"
<font color="#ffffff">
        
        <ul>
            <h1>Reports</h1>
        
                    <table class="Form-table">
                        <tr>
                            <th colspan="2" style="text-align: center;">Letter One Checks</th>
                        </tr>
                        <tr>
                            <th>Check Account</th>
                            <th>Check Number</th>
                        </tr>
                        {% for check in all_checks %}
                        {% if check.two_weeks %}
                            <tr>
                                <td><a href="{% url 'check:letterone' check.id %}"><font color="#ffffff">{{ check.account }}</a></td>
                                <td>{{ check.check_number }}</td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                    </table>

                    <table class="Form-table">
                        <tr>
                            <th colspan="2" style="text-align: center;">Letter Two Checks</th>
                        </tr>
                        <tr>
                            <th>Check Account</th>
                            <th>Check Number</th>
                        </tr>
                        {% for check in all_checks %}
                        {% if check.four_weeks %}
                            <tr>
                                <td><a href="{% url 'check:lettertwo' check.id %}"><font color="#ffffff">{{ check.account }}</a></td>
                                <td>{{ check.check_number }}</td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                    </table>

                    <table class="Form-table">
                        <tr>
                            <th colspan="2" style="text-align: center;">Letter Three Checks</th>
                        </tr>
                        <tr>
                            <th>Check Account</th>
                            <th>Check Number</th>
                        </tr>
                        {% for check in all_checks %}
                        {% if check.six_weeks %}
                            <tr>
                                <td><a href="{% url 'check:letterthree' check.id %}"><font color="#ffffff">{{ check.account }}</a></td>
                                <td>{{ check.check_number }}</td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                    </table>



    </font>
</div>
{% endblock %}