{% extends 'check/base.html' %}
{% block body %}
<div class="wrapper">
<font color="#ffffff">
        
        <ul>
            <h1>Checks</h1>
           
            {% for check in all_checks %}
                {% if check.two_weeks %}
                    <table style="width:25%" border=".1">
                        <tr>
                            <th>Letter One Checks</th>
                        </tr>
                    </table>
                    <table style="width:25%" border=".1">
                            <tr>
                              <th><h3><a href="{% url 'check:letterone' check.id %}"><font color="#ffffff">{{ check.account }} - Check Number: {{ check.check_number }}</font></a></h3>
                              </th>
                            </tr>
                    </table>
                    {% endif %}
                </b>
                {% if check.four_weeks %}
                <table style="width:25%" border=".1">
                    <tr>
                        <th>Letter Two Checks</th>
                    </tr>
                </table>
                <table style="width:25%" border=".1">
                        <tr>
                          <th><h3><a href="{% url 'check:letterone' check.id %}"><font color="#ffffff">{{ check.account }} - Check Number: {{ check.check_number }}</font></a></h3>
                          </th>
                        </tr>
                </table>
                {% endif %}
            </b>
            {% if check.six_weeks %}
            <table style="width:25%" border=".1">
                <tr>
                    <th>Letter Three Checks</th>
                </tr>
            </table>
            <table style="width:25%" border=".1">
                    <tr>
                      <th><h3><a href="{% url 'check:letterone' check.id %}"><font color="#ffffff">{{ check.account }} - Check Number: {{ check.check_number }}</font></a></h3>
                      </th>
                    </tr>
            </table>
            {% endif %}
            {% endfor %}
        </ul>



    </font>
</div>
{% endblock %}