body {
  background: url("images/black-background.png");
  color: white; }

.navbar {
  border-radius: 0; }

.Form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white; 

  &-row{
    color: black;
  }
  
  &-table {
    padding: 1em;
    display: flex;
    justify-content: center;

    td{
       border: .1em solid white;
       column-span: 1;
       padding: .5em; }
    }
  }

//Styling for the Tables displaying detailed 
//information on accounts, checks, and reports
.detailTable{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  border-color: white;

  &-table {
    padding: 1em;
    display: flex;
    justify-content: center;

    td{
       border: .1em solid white;
       column-span: 1;
       padding: .5em; }
  }
}

.button {
  background-color: black;
  border: none;
  padding: 10px;
  width: 10%;
  -webkit-transition: width .35s;
  -o-transition: width .35s;
  transition: width .35s; }
  .button:hover {
    background-color: white;
    color: black;
    width: 12%; }

.wrapper{
    text-align: center;
}
